/* Small devices (tablets, 568px and up) */
@media (min-width: 375px) and (max-width: 768px) { 
    #header {
        top: 0px;
    }

    #navbarHeader {
        margin-right: 0px;
        text-align: center;
    }

    .text-header {
        font-size: 10px;
        letter-spacing: normal;
    }

    /* section 2 */

    .div-why-us {
        margin-bottom: 80px;
    }

    .text-header-dark {
        font-weight: bold;
        font-family: Georgia, Times, "Times New Roman", serif;
        color: #0c3653;
    }

    .width-image {
        width: 100%;
        margin-bottom: 20px;
    }

    .div1 {
        /* padding: 0px; */
    }

    .div2 {
        /* padding: 0px; */
    }

    .image3 {
        width: 100%;
    }

    .image4 {
        width: 100%;
    }

    /* section 3 */
    .title-product {
        font-family: Georgia;
        color: #0C3653;
        font-size: 19px;
    }

    .price-product {
        font-family: Georgia;
        color: #F98169;
    }

    /* section 4 */
    .text-header-4 {
        font-weight: bold;
        font-family: Georgia, Times, "Times New Roman", serif;
        color: #0C3653;
    }

    /* section 5 */
    .text-header-blog {
        font-family: Georgia;
        color: #0C3653;
        font-size: 36px;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 75%;
        left: 52%;
        width: 260px;
        font-size: 14px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .p-header {
        margin-bottom: 5rem;
    }

    #middle-bottom {
        position: absolute;
        right: -0.55%;
        bottom: 19%;
        border-radius: 7px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    #header {
        top: 20px;
    }

    #navbarHeader {
        margin-right: 0px;
        text-align: center;
    }

    .text-header {
        letter-spacing: normal;
    }

    /* section 2 */

    .div-why-us {
        margin-bottom: 80px;
    }

    .image1 {
        width: 100%;
        height: 49%;
        margin-bottom: 25px;
    }

    .image2 {
        width: 100%;
        height: 46%;
        margin-bottom: 5px;
    }

    .image3 {
        width: 100%;
        margin-bottom: 25px;
    }

    .image4 {
        width: 100%;
        margin-bottom: 5px;
    }

    /* section 3 */
    .title-product {
        font-family: Georgia;
        color: #0C3653;
    }

    .price-product {
        font-family: Georgia;
        color: #F98169;
        margin-left: 30px;
    }

    /* section 4 */
    .text-header-4 {
        font-family: Georgia, Times, "Times New Roman", serif;
        color: #0c3653;
        font-weight: bold;
    }

    /* section 5 */

    .text-header-blog {
        font-family: Georgia;
        color: #0C3653;
        font-size: 36px;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 60%;
        left: 52%;
        width: 160px;
        font-size: 14px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .middle-header {
        font-size: 20px;
    }

    .p-header {
        font-size: 10px;
        margin-bottom: 100px;
    }

    #middle-bottom {
        position: absolute;
        right: -0.55%;
        bottom: 22%;
        border-radius: 5px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
    #header {
        top: 65px;
    }

    #navbarHeader {
        margin-left: 150px;
    }

    .section-header-custom1 {
        padding-top: 160px !important;
        font-family: Georgia, Times, "Times New Roman", serif;
        color: #0c3653;
    }

    .section-header-custom2 {
        font-family: Georgia, Times, "Times New Roman", serif;
        color: #0c3653;
    }

    /* section 2 */

    .image-header-2 {
        bottom: 30px;
    }

    .div1 {
        top: 30px;
        position: relative;
    }

    .image1 {
        width: 70%;
        right: 0;
        position: absolute;
        height: none;
        top: -50px;
    }

    .image2 {
        position: absolute;
        bottom: 20px;
        right: 0px;
        width: 100%;
    }

    .div2 {
        top: -155px;
        position: relative;
    }

    .image3 {
        bottom: 5px;
        position: inherit;
        width: 100%;
    }

    .image4 {
        width: 70%;
        top: 8px;
        position: inherit;
    }

    /* section 3 */

    .title-product {
        font-family: Georgia;
        color: #0C3653;
    }

    .price-product {
        font-family: Georgia;
        color: #F98169;
        margin-left: 30px;
    }

    /* section 4 */
    .text-header-4 {
        font-family: Georgia, Times, "Times New Roman", serif;
        color: #0c3653;
        font-weight: bold;
    }

    /* section 5 */

    .text-header-blog {
        font-family: Georgia;
        color: #0C3653;
        font-size: 36px;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 67.5%;
        left: 52%;
        width: 212px;
        font-size: 14px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .middle-header {
        font-size: 22px;
    }

    .p-header {
        font-size: 10px;
        margin-bottom: 100px;
    }

    #middle-bottom {
        position: absolute;
        right: -0.55%;
        bottom: 20%;
        border-radius: 5px;
    }
}

p {
    font-size: 16px;
}

/* section 1 */

.image-header {
    position: absolute;
    z-index: -1;
}

.text-left {
    color: #255A7E;
}

.text-header-1 {
    margin-top: 60px;;
}

.btn {
    background-color: #F98169;
    color: white;
    border-radius: 0px;
}

#btn1 {
    padding: 20px 50px 20px 50px;
}

#btn2 {
    color: #0B314B;
}

#btn3 {
    border-radius: 40px;
    padding: 10px 16px;
}

/* section 2  */

.text-p-dark {
    font-size: 16px;
    color: #8B8E8F;
}

/* section 3 */
.text-header-cs {
    font-size: 36px;
}

.text-p-cs {
    color: white;
}

.price-product {
    position: absolute;
    right: 20px;
}

/* our floor */
.our-floor {
    display: flex;
}

/* sesion-log */

.image-blog {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle-header {
    font-size: 22px;
}

.image-blog:hover {
    opacity: 1;
}

.middle:hover {
    opacity: 1;
}
