p {
    font-size: 16px;
}

/* Small devices (tablets, 568px and up) */
@media (min-width: 576px) { 
    #header {
        top: 0px;
    }

    .text-header {
        font-size: 10px;
        letter-spacing: normal;
    }

    /* section 2 */

    .div-why-us {
        margin-bottom: 80px;
    }

    .width-image {
        width: 100%;
    }
    
    /* section 3 */
    .title-product {
        font-family: Georgia;
        color: #0C3653;
    }

    .price-product {
        font-family: Georgia;
        color: #F98169;
    }

    /* section 5 */
    .text-header-blog {
        font-family: Georgia;
        color: #0C3653;
        font-size: 36px;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 75%;
        left: 52%;
        width: 260px;
        font-size: 14px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .p-header {
        margin-bottom: 5rem;
    }

    #middle-bottom {
        position: absolute;
        right: -0.55%;
        bottom: 18%;
        border-radius: 7px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #header {
        top: 20px;
    }

    .text-header {
        letter-spacing: normal;
    }

    /* section 3 */

    .price-product {
        font-family: Georgia;
        color: #F98169;
        margin-left: 30px;
    }

    /* section 5 */
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 60%;
        left: 52%;
        width: 160px;
        font-size: 14px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .middle-header {
        font-size: 20px;
    }

    .p-header {
        font-size: 10px;
    }

    #middle-bottom {
        position: absolute;
        right: -0.55%;
        bottom: 18%;
        border-radius: 5px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
    #header {
        top: 65px;
    }

    .section-header-custom {
        top: 110px;
    }

    /* section 2 */

    .div1 {
        top: 30px;
        position: relative;
    }

    .image1 {
        width: 70%;
        right: 0;
        position: absolute;
    }

    .image2 {
        position: absolute;
        bottom: -35px;
        right: 0px;
    }

    .div2 {
        top: -20px;
        position: relative;
    }

    .image3 {
        bottom: 5px;
        position: inherit;
    }

    .image4 {
        width: 70%;
        top: 8px;
        position: inherit;
    }

    /* section 5 */
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 67.5%;
        left: 52%;
        width: 212px;
        font-size: 14px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .middle-header {
        font-size: 22px;
    }

    .p-header {
        font-size: 14px;
    }

    #middle-bottom {
        position: absolute;
        right: -0.55%;
        bottom: 18%;
        border-radius: 5px;
    }
}

#navbarHeader {
    margin-right: 480px;
}

.text-left {
    color: #255A7E;
}

.btn {
    background-color: #F98169;
    color: white;
    border-radius: 0px;
}

#btn1 {
    padding: 20px 50px 20px 50px;
}

#btn2 {
    color: #0B314B;
}

#btn3 {
    border-radius: 40px;
    padding: 10px 16px;
}

/* section 2  */
.text-header-dark {
    font-size: 36px;
    color: #0C3653;
}

.text-p-dark {
    font-size: 16px;
    color: #8B8E8F;
}

/* section 3 */
.text-header-cs {
    font-size: 36px;
}

.text-p-cs {
    color: white;
}

/* our floor */
.our-floor {
    display: flex;
}

/* sesion-log */

.image-blog {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

/* .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 75%;
    left: 55%;
    width: 300px;
    font-size: 14px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
} */

.middle-header {
    font-size: 22px;
}

/* #middle-bottom {
    position: absolute;
    right: -0.5%;
    bottom: -24%;
    border-radius: 10px;
} */

.image-blog:hover {
    opacity: 1;
}

.middle:hover {
    opacity: 1;
}
