<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>

    <div *ngIf="currentUser; else loggedOut">
      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuemin="0"
          aria-valuemax="100">
        </div>
      </div>

      <label class="btn btn-default">
        <input type="file" />
      </label>
      <button class="btn btn-success">
        Upload
      </button>
      <div class="alert alert-light" role="alert"></div>

    </div>
  </header>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
