<div class="container pt-5 pb-4 py-md-6 py-lg-7" style="margin-top: 100px;">
  <div class="row" *ngIf="image">
    <div class="col-lg-8 col-sm-6 pb-3">
      <img class="img-thumbnail" src="{{image.url}}" alt="Business Consulting" />
    </div>
    <div class="p-4 col-lg-4 col-sm-6 pb-3">
      <h2>{{image.description}}</h2>
      <p>Type: {{image.type}}</p>
      <p>Size: {{image.size}}</p>
      <div>
        <button type="button" class="btn btn-secondary"><i class="fas fa-download fa-3x" style="font-size: small;"></i>
          Download</button>
      </div>

    </div>
  </div>
