<div class="container pt-5 pb-4 py-md-6 py-lg-7" style="margin-top: 100px;">
  <div class="row">
    <div class="col-lg-8 col-sm-6 mb-grid-gutter pb-3" *ngFor="let image of images | async">
        <img class="img-thumbnail" src="{{ image.url }}" alt="Business Consulting" />
    </div>
    <div class="p-5 col-lg-4 col-sm-6 mb-grid-gutter pb-3" *ngFor="let image of images | async">
        <h1>Name</h1>
        <p>Type:</p>
        <p>Size:</p>

        <div class="p-3">
            <button type="button" class="btn btn-secondary"><i class="fas fa-download fa-3x" style="font-size: small;"></i>  Download</button>
            <button type="button" class="btn btn-secondary" style="margin-left: 30px;"><i class="fas fa-edit fa-3x" style="font-size: small;"></i>  Edit</button>
        </div>

  </div>
</div>
