<div class="container" style="margin-top: 160px; height: 450px;">
  <header class="jumbotron">
    <div *ngIf="currentUser; else loggedOut">
      <div>
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase" style="color: rgb(26, 145, 71);">
          {{ currentUser.username }} Profile</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider" style="margin-bottom: 50px;">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>


        <div class="row">
          <div class="col-lg-6 mr-auto">
            <p class="lead">
              <strong>Email:</strong><br />
              {{ currentUser.email }}
            </p>
          </div>
          <div class="col-lg-6 mr-auto">
            <p class="lead">
              <strong>Roles:</strong>
              <li *ngFor="let role of currentUser.roles">
                {{ role }}
              </li>
            </p>
          </div>
        </div>

      </div>
    </div>
  </header>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
