<div class="container" *ngIf="currentUser; else loggedOut" style="margin-top: 130px; margin-bottom: 35px;">
  <!-- About Section-->
  <section class="bg-primary text-white mb-0" id="about">
    <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">{{currentUser.username}} Profile</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
        <!-- <div class="col-lg-4 ml-auto">
          <p class="lead">
            <strong>Token:</strong><br />
            {{ currentUser.accessToken.substring(0, 20) }} ...
            {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
          </p>
        </div> -->
        <div class="col-lg-6 mr-auto">
          <p class="lead">
            <strong>Email:</strong><br/>
            {{ currentUser.email }}
          </p>
        </div>
        <div class="col-lg-6 mr-auto">
          <p class="lead">
            <strong>Roles:</strong>
            <li *ngFor="let role of currentUser.roles">
              {{ role }}
            </li>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>


