<div class="container pt-5 pb-4 py-md-6 py-lg-7">
  <div class="text-center mb-5 pt-3 pt-lg-4">
    <h2 class="h1 mb-4">TPS<span class="bg-faded-primary rounded text-primary px-3 py-2">Images</span></h2>
    <p class="text-muted">Choose images if you want to dowload !!!</p>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-6 mb-grid-gutter pb-3" *ngFor="let image of images | async">
      <a class="d-block nav-heading text-center" href="#">
        <div class="card card-hover border-0 box-shadow-lg mb-4"><img class="card-img"
            src="{{image.url}}" alt="Business Consulting">
        </div>
      </a>
    </div>
  </div>
</div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>
